body {
   width:100%;
   height:100%;
   background-color: #f1f7ed; 
}

.title-tagline {
    height:80px;
    width: 400px;
    font-size:xx-large;
    font-weight: bold;
    font-family: Comfortaa;
    text-transform: capitalize;
    text-decoration-thickness: 5%;
    .title-tagline ::placeholder {
        color: gray;
    }
    border:none;
    background-color: transparent;
}

.title-tagline:focus{
    outline: none;
}

.title-tagline::placeholder {
    font-family: Comfortaa;
}

.checkline {
    display: flex;
    gap: 5px;
    margin-left: 5px;
    margin-top: 5px;
    align-items:center;
    justify-content: first baseline ;
    height: 40px;
    .task-bar {
        padding-top: 0.7%;
        padding-left: 0px;
        padding-right: 0px;
        font-size:medium;
        height:30px;
        border:none;
    }
    .task-bar:focus {
        outline:none;
    }
}

.task-bar {
    font-family: Comfortaa;
    background-color: transparent;
}

.checkbox {
    background-color: transparent;
    border:solid;
    border-radius: 20%;
    border-width: 2px;
    width: 20px;
    height: 20px; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.tickMark_png {
    height: 100%;
    width: 100%;
    stroke: black;
    visibility: hidden;
    fill: none;
    color:green;
}

.add-line {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 16px;
    width: 16px;
    background-color: transparent;
    border: none;
}

.newLine {
    margin-left: 5px;
}

.plus-sign{
    color:#773344;opacity: 1;
}

.strikethrough {
    text-decoration: line-through;
    color: rgb(197, 28, 28);
}

.trash {
    color: black;
    height: 18px;
    width:16px;
}

.trash_button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding-left: 0px;
    padding-right: 0px;
    visibility:hidden;
    border: none;
    background-color: transparent;
}

.checkline:hover {
    .trash_button{
        visibility: visible;
    }
}

.side-panel {
    background-color: #243e36;
    position: fixed;
    display:flex;
    right:0px;
    top:0px;
    width: 60%;
    height: 100%;
    align-items: start;
    flex-direction: column;
    gap: 10px;
    overflow: hidden;
    z-index: 101; 
    transition: transform 0.3s ease; 
    transform: translateX(100%); 
}

.close-sidePanel {
    position: relative;
    background-color: transparent;
    border: none;
    top: 30px;
    .right-arrow path {
        stroke: #c8d5b9;
    }
}

.reset-button2 {
    position: relative;
    background-color: transparent;
    border: none;
    top:50px;
    margin-bottom: 25px;
    .reset-icon path {
        stroke: #c8d5b9;
    }
}

.DD-button{
    display: inline-block;
    background-color: transparent;
    border: none;
    .DD-icon path {
        stroke: #c8d5b9;
    }
    .DD-icon {
        transition: transform 0.3s ease;
    }
    .DD-icon.rotated {
        transform: rotate(180deg);
    }
}

.line1, .line2 {
    width:25%;
    display: flex;
    top: 30px;
    position: relative;  
    flex-direction: coloumn;
    flex-wrap: wrap;
    align-items: center;  
    justify-content: flex-start;  
}

.section1, .section2 {
    display: flex;
    position: relative;
    height: auto;
    flex-direction: coloumn;
    align-items: center;
    justify-content: center;
}

.list1,.list2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Comfortaa;
    font-size: smaller;
}

.tagline {
    font-family: Comfortaa;
    color: #c8d5b9;
}

.mini-sp {
    position: fixed;
    display:flex;
    right:0px;
    top:0px;
    width: 6%;
    height: 100%;
    align-items: center;
    flex-direction: column;
    gap:10px;
    z-index: 100; 
    transition: transform 0.3s ease; 
    transform: translateX(0); 
}

.panelButton, .reset-button {
    position: relative;
    border:none;
    background-color: transparent;
    border-radius: 60px;
    .left-arrow, .reset-icon {
        height: 25px;
        width:25px;
        margin-top: 3px;
    }
}

.reset-shadow, .OB-shadow {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 55%;
}

.OB-shadow{
    margin-top:30px;
}

.side-panel.panel-open {
    transform: translateX(50%);
}

@keyframes rotate360 {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.reset-button:hover .reset-icon {
    animation: rotate360 0.8s linear forwards;
}

.reset-button2:hover .reset-icon {
    animation: rotate360 0.8s linear forwards;
}

.list1 ul, .list2 ul {
    list-style-type: none;
}

.list1 ul li, .list2 ul li {
    position: relative;
    padding-left: 20px;
    color: #f1f7ed;
}

.list1 ul li:before, .list2 ul li:before {
    content: "•";
    position: absolute;
    left: 0;
    color: #f1f7ed;
    transition: content 0.3s;
}


.list1 ul li:hover:before, .list2 ul li:hover:before {
    content: "⋮"; 
    cursor: pointer;
}


.popup-menu {
    display: none;
    position: absolute;
    left: 20px;
    background-color:#FBEAEB;
    border: 1px solid #ccc;
    border-radius: 18px;
    padding: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 100;
    width:90px;
    height:auto;
}

.list1 ul li:hover .popup-menu, .list2 ul li:hover .popup-menu {
    display: block;
}

.popup-button {
    display: block;
    margin: 5px 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-family: Comfortaa;
    font-size: smaller;
    width:90px;
    height:100%;
}

.pp-div{
    display:flex;
    width:90px;
    height:50%;
    border-radius: 18px;
}

.pp-div:hover {
   background-color: rgba(128, 128, 128, 0.116);
}


.comfortaa-hello {
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}
  
